body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #cce3f5;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;

}

.header-image img {
  max-width: 25%;
  /* Ensure the image doesn't exceed its container width */
  height: auto;
  /* Allow the image to maintain its aspect ratio */
  display: flex;
  /* Make the image behave like an inline element */

}

.app-container {
  max-width: 400px;
  margin: 20px auto;
  /* padding: 20px; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 22px;
  /* Font size for the heading */
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.subheading {
  font-size: 14px;
  /* Font size for the subheading */
  color: grey;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0px;
  position: relative;
}

.input-container input {
  border: 1px solid #111010;
  /* Add border to create a box-like appearance */
  border-radius: 5px;
  /* Rounded corners */
  width: 80%;
  padding: 16px;

}

.password-toggle {
  position: absolute;
  right: 45px;
  top: 15px;
  cursor: pointer;
  color: #ccc;
  background: none;
  border: none;
  font-size: 14px;
  text-decoration: underline;
}

.forgot-password-link {
  text-align: center;
  margin-left: 220px;
}

.forgot-password-link a {
  text-decoration: none;
  color: #090e11;

}


.login-button {
  background-color: #77AEE1;
  /* Log in button background color */
  color: rgb(17, 16, 16);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  /* Center the button */
  margin: 0 auto;
  /* Center the button */
  margin-top: 30px;
  width: 89%;
}

.google-button {

  color: rgb(10, 8, 8);
  border: 1px solid black;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  /* Center the button */
  margin: 0 auto;
  /* Center the button */
  width: 80%;
  gap: 60px;
}

.google-button img {
  max-width: 20px;
  height: auto;
  margin-right: 10px;
}



.or-divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.or-text {
  font-size: 13px;
  background-color: white;
  position: relative;
  margin-top: 30px;
  top: -11px;
  padding: 0 10px;
}

.signup-link {
  text-align: center;
  margin-top: 40px;
}


.signup-link a {
  text-decoration: none;
  color: #71BAF3;
  font-weight: bold;
}

.alert-popup {
  position: fixed;
  top: 80px;
  right: 458px;
  background-color: #f42222;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}