body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.01px;
}

.app-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  /* Add this line to enable vertical scrolling */
  max-height: 630px;
  height: 630px;
  /* Set the maximum height for scrollability */
  border-color: #ccc;
  scrollbar-width: thin;
  scrollbar-color: #CCE3F5 #fff;
}

.header {
  width: 380px;
  background-color: #CCE3F5;
  color: black;
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 24px;
  position: fixed;
  margin-bottom: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header-image img {
  max-width: 80px;
  height: auto;
  display: inline-block;
  margin-top: 10px;
  margin-left: -15px;
}

.header-text {
  margin-left: 85px;
}



.content-container {
  padding: 25px;
  padding-top: 60px;
}

.rounded-text-field {
  width: 310px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

.mandatory::after {
  content: " *";
  color: red;
}

.upload-container {
  text-align: center;
  padding: 5px;
}

#next-button {
  background-color: #4c82af;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup button {
  background-color: #4c82af;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}