.app-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  /* Add this line to enable vertical scrolling */
  max-height: 650px;
  /* Set the maximum height for scrollability */
  height: 650px;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #CCE3F5;
  color: black;
  font-size: 24px;
  padding: 15px;
  text-align: center;
  position: relative;
  height: 24px;
}

.back-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.rounded-text-field {
  width: 150px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
}

#questionContainer {
  width: px;
  /* Adjust the width as needed */
  margin: 20px auto;
  font-size: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* Align items vertically */

}

.question {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

}

.question input {
  flex: 1;
  margin-right: 10px;
}

.deleteButton {
  cursor: pointer;
  color: #ff0000;
  font-size: 20px;
}

#addQuestionBtnContainer {
  display: flex;
  justify-content: center;
}

#addQuestionBtn {
  background-color: #4c82af;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#submitBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#submitBtn {
  background-color: #4c82af;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 450.5px;
  width: 400px;
  height: 630px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 5px;
}
 
.popup-content {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.popup h2 {
  margin-top: 0;
}
 
.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
 
.popup-buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #CCE3F5;
  border: none;
}

.popup {
  z-index: 1000;
}

.mandatory::after {
  content: " *";
  color: red;
}

.errorpopup, .errorpopup1 {
  display: none;
  position: fixed;
  top: 30px;
  right: 450px;
  background-color: #FF5555;
  /* Changed the background color to red */
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
  font-size: 10px;
}
