header {
  background-color: #cce3f5;
  color: black;
  font-size: 30px;
  padding: 15px;
  text-align: center;
  position: relative;
}

.back-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#img {
  margin: 40px 450px;
  text-align: center;
}
.airpods {
  padding-top: -17px;
  margin-top: -119px;
  margin-left: 586px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #c5d8e6;
  color: black;
  font-weight: bold;
  padding: 7px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 7%;
  opacity: 0.9;
  border-radius: 10px;
  margin-left: 690px;
}

.registerbtn:hover {
  opacity: 1;
}

.app-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 2px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}